* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;   
    text-decoration: none;
    font-size: 16px; 
    transition: all 0.5s ease 0s;
}



body {

    min-height: 100vh;
    background-color: rgb(220, 220, 220);

}



.fa-shield-dog {
    font-size: 40px;
    margin-left: 4px;
    padding: 15px 25px;
    color: rgb(111, 111, 196);
    text-shadow: 1px 2px 3px rgba(255, 91, 91, .5);
}



nav {
    height: 100vh;
    width: 5rem;
    background-color: rgb(43, 43, 79);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}



nav div ul {
    padding: 5px 20px;
    align-items: center;
    list-style: none;   
}



nav div ul li {
    list-style: none;
    padding: 1rem;
    
}



nav div ul li i {
    font-size: 20px;
    list-style: none;
   
    color: white;
    
}



nav div ul li i:hover {
    color: rgb(163, 163, 227); 
}

.main {
    display: flex;
    margin-left: 5rem;
    padding: 40px;
}

table {
    border-collapse:  collapse;
    background-color: rgb(235, 235, 235);
    margin: 25px 0px;
    min-width: 400px;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
}

table thead tr {
    background-color: rgb(163, 163, 227);
    text-align: left;
}

table thead tr th {
    font-weight: bold;
    font-size: 14px;
}

table th, table td {
    padding: 10px 20px;
}

table tbody tr {
    border-bottom: 1px solid grey;
}

table tbody tr td {
    font-size: 13px;
    min-width: 165px;
}

table tbody tr:nth-last-of-type(even) {
    background-color: rgb(202, 202, 202);
}

table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(163, 163, 227);
}

.table-foot {
    display: flex;
    justify-content: space-between;

    color: blue;
}

.table-foot p {
    font-size: 13px;
}

.table-foot a {
    font-size: 13px;
    color: blue;
}

footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    top:  100%;
    margin-left: 5rem;
    position: sticky;
    bottom: 0;
    padding: 5px 10px;
}

footer div a {
    font-size: 10px;
    font-weight: 400;
}


footer .small-print {
    color: rgb(150, 150, 150);
    font-size: 9px;  
}



h1 {
    margin-bottom: 15px;
}



.button-group {
    display: inline-flex;
    border: 1px soild black;
    border-radius: 4px;
    overflow: hidden;
}

.button {
    border: none;
    outline: none;
    padding: 5px 17px;
    width: 75px;
    background: grey;
    cursor: pointer;
}

.button-single-wide {
    border: none;
    outline: none;
    padding: 5px 17px;
    width: 190px;
    background: grey;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
}

.button-single-wide a {
    font-size: 13px;
    color: rgb(222, 222, 222);
}

.button a {
    font-size: 13px;
    color: rgb(222, 222, 222);
}




.form {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.form-field {
    width: 250px;
    padding: 5px 17px;
    font-size: 13px;
    color: blue;
    border: none;
    outline: none;
    border-radius: 4px;
    overflow: hidden;
}


.form-control-button {
    font-size: 13px;
    color: white;
    border: none;
    outline: none;
    padding: 5px 17px;
    width: 100px;
    background: grey;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
}